<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652067924410-g4n5g68b691obkaqt16cervc6949n51j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652067924410-g4n5g68b691obkaqt16cervc6949n51j</string>
	<key>API_KEY</key>
	<string>AIzaSyDJv49s0fo1YHBCO6iISf3b2nusynQDh2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>652067924410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProjectBase</string>
	<key>PROJECT_ID</key>
	<string>beta-d6beb</string>
	<key>STORAGE_BUCKET</key>
	<string>beta-d6beb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652067924410:ios:8abb0069c9de9fb56e5583</string>
</dict>
</plist>